.page {
    height: calc(100vh - 50px);
    background-color: var(--foreground);
    color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}

.profilePicture {
    border: 5px solid #778DA9;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.profilePicture:hover {
    transform: scale(1.02);
}

.leftBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leftBox button {
    margin-top: 20px;
    padding: 0 50px;
    border: none;
    cursor: pointer;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #778DA9;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: ease-in-out 0.2s;
}

.leftBox button:hover {
    transform: scale(1.05);
}

.buttonIcon {
    filter: brightness(0) saturate(100%) invert(9%) sepia(22%) saturate(1442%) hue-rotate(169deg) brightness(96%) contrast(97%);
    margin-right: 10px;
}

.leftBox span {
    color: #0D1B2A;
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.rightBox {
    height: 100%;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightBox h1 {
    color: #778DA9;
    margin: 20px 0px;
}

.rightBox p {
    text-align: justify;
}

.techDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    row-gap: 30px;
}

.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 3px solid #12263b;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tech:hover {
    transform: scale(1.1);
}

.tech p {
    margin-top: 10px;
}