.page {
    height: calc(100vh - 50px);
    background-color: var(--foreground);
    color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.teste {
    width: 100%;
    height: 80vh;
    padding: 50px;
}